@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
  text-shadow: 2px 2px 1px rgba(127, 127, 127, 0.3);
}

.ng-binding.ng-scope.alert.alert-success {
	margin: 0px;
	color: #3C763D;
	background: #DFF0D8;
}

.ng-binding.ng-scope.alert.alert-danger {
	margin: 0px;
	color: #AD4442;
	background: #F2DEDE;
}

.navbar-header > .navbar-brand, .navbar-default .navbar-nav>li>a{
	color: #fff;
}

.navbar-header > .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
	color: #b3c2bf;
}

nav.navbar-nav.navbar-right {
	color: #fff;
}

a.leaguelink.ng-binding:link, a.btn.btn-link {
	font-style: normal;
	text-decoration: none;
}

a.ng-binding:hover, .repeat:hover, a.leaguelink.repeat.ng-binding:hover, a.btn.btn-link:hover {
	background: #e9ece5;
	font-style: normal;
	text-decoration: none;
}

.ng-scope > a:visited, a.btn.btn-link:visited {
	background: #e9ece5;
	font-style: normal;
	text-decoration: none;
}

.page-header.text-center.ng-scope, .page-header.text-center{
	color: #fff;
	background: #c0dfd9;
	border-color: #c0dfd9;
	margin: 0px;
}

.ng-scope{
	background: #c0dfd9;
	color: #fff;
}

.modal-header {
	background: #3b3a36;
}

nav, .navbar, .nav, .navbar-default {
	color: #fff;
	border-color: #3b3a36;
	background: #3b3a36;
	padding: 0;
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
	line-height: 50px;
	margin: 0px;
	padding: 0px;
}

/*.ng-leave { 
	z-index:9999; 
	-webkit-animation: moveToBottomFade .7s ease both;
	animation: moveToBottomFade .7s ease both;
}

.ng-enter { 
	z-index:8888;
  -webkit-animation: moveFromTopFade .7s ease both;
  	animation: moveFromTopFade .7s ease both;
}

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottomFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveToBottomFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}*/


