<div>
	<h2>placeholder for Lottery ID:{{ vm.selectedLottery.id }}</h2>
</div>

<div class="col-md-3 col-md-offset-1">
	<h2>Tickets</h2>
	<ul class="lotterytickets">
		<li ng-repeat="ticket in vm.lotteryTickets" class="item-listing">
			Price: {{ ticket.price }}
		</li>
	</ul>
</div>

		
<div ng-controller="LeagueDetailsController as LDC" class="bowlersleagues col-md-3 col-md-offset-1">
		<h2>Buy a ticket for this lottery for which bowler in the league?</h2>
    <ul class="leagueslist">
        <li ng-repeat='bowler in LDC.leagueBowlers' class="item-listing">
        		{{ bowler.name }}
        		<button ng-click="vm.buyTicket(vm.selectedLottery.league_id, vm.selectedLottery.id, bowler.id, bowler.name)">
        				Buy Ticket
        		</button>
        </li>    
    </ul>
</div>

<div class="col-md-3 col-md-offset-1">
	<h2>Draw a ticket! Also record here, form for pins below:</h2>
</div>


