<div class="page-header text-center"> 
    <h1>{{vm.selectedLeague.name}} League Page</h1>
</div>

<div class="lotteriesleagues col-md-4 col-md-offset-1">
    <h1 ng-show"vm.leagueLotteries">Lotteries in this league</h1>
    <h2>Lottery balances in this league:</h2>
    <ul class="lotterieslist">
        <li ng-repeat='lottery in vm.leagueLotteries'>
                <a ui-sref="lotteriesshow({leagueId: vm.selectedLeague.id, lotteryId: lottery.id})">{{ lottery.balance | currency }}</a>
        </li>    
    </ul>

</div>


<div class="bowlersleagues col-md-4 col-md-offset-1">
    <div>    
        <h2>Bowlers in this league</h2>
        <button type="button" class="btn btn-default" ng-click="vm.open()">Add Bowlers to {{ vm.selectedLeague.name }}</button>
    </div>
    <ul class="leagueslist">
        <li ng-repeat='bowler in vm.leagueBowlers'>
                {{ bowler.name}}
        </li>    
    </ul>

</div>
