
<div ng-controller="BowlerController as bowlerCtrl" class="bowlers col-md-3 col-md-offset-1">
<h1 ng-show="vm.selectedLeague">Add Bowlers to {{ vm.selectedLeague.name }}</h1>
    <h2>All Bowlers</h2>
    <h3> Number of bowlers: {{ bowlerCtrl.bowlers.length }}</h3>
    <ul class="bowlerslist">
        <li ng-repeat='bowler in bowlerCtrl.bowlers'>
        		{{ bowler.name }}
           	<button ng-click="vm.LeagueBowlerAdd(vm.selectedLeague.id, bowler.id, bowler.name)">
           			Add this bowler
        		</button>
        </li>    
    </ul>
</div>

<div class="bowlersleagues col-md-3 col-md-offset-1">
    <h2>Bowlers in this league:</h2>
    <ul class="leagueslist">
        <li ng-repeat='bowler in vm.leagueBowlers'>
        		{{ bowler.name}}
        </li>    
    </ul>

</div>

<div class="lotteriesleagues col-md-3 col-md-offset-1">
    <h1 ng-show"vm.leagueLotteries">Lotteries in this league</h1>
    <h2>Lottery balances in this league:</h2>
    <ul class="lotterieslist">
        <li ng-repeat='lottery in vm.leagueLotteries'>
                <a ui-sref="lotteriesshow({leagueId: vm.selectedLeague.id, lotteryId: lottery.id})">{{ lottery.balance | currency }}</a>
        </li>    
    </ul>

</div>