<div class="col-md-4 col-md-offset-1">
	<h2>placeholder for Lottery ID:{{ vm.selectedLottery.id }}</h2>
</div>

<div class="col-md-4 col-md-offset">
		<h2>Buy a ticket for this lottery for which bowler?</h2>
		
		<div ng-controller="BowlerController as bowlerCtrl" class="bowlers col-md-3 col-md-offset-1">
		<h1 ng-show="vm.selectedLeague">Add Bowlers to {{ vm.selectedLeague.name }}</h1>
		    <h2>All Bowlers</h2>
		    <h3> Number of bowlers: {{ bowlerCtrl.bowlers.length }}</h3>
		    <ul class="bowlerslist">
		        <li ng-repeat='bowler in bowlerCtrl.bowlers'>
		        		{{ bowler.name }}
		           	<button ng-click="vm.LeagueBowlerAdd(vm.selectedLeague.id, bowler.id, bowler.name)">
		           			Add this bowler
		        		</button>
		        </li>    
		    </ul>
		</div>
</div>