@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

a.leaguelink.ng-binding:link, a.btn.btn-link {
	color: white;
	font-style: normal;
	text-decoration: none;
}

.repeat:hover, a.leaguelink.ng-binding:hover, a.btn.btn-link:hover {
	background: #FED28E;
	font-style: normal;
	text-decoration: none;
}

a.leaguelink.ng-binding:visited, a.btn.btn-link:visited {
	background: #FED28E;
	font-style: normal;
	text-decoration: none;
}


.bowlers {
	border: 2px white;
	background: black;
}

.page-header.text-center.ng-scope{
	color: white;
	background: #FDC162;
	border-color: #FDC162;
	margin: 0;
}

.ng-scope{
	background: #FDC162;
	color: white;
}

nav, .navbar, .nav, .navbar-default {
	color: white;
	border-color: #FDC771;;
	background: #FDC771;
	padding: 0;
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6{
	line-height: 50px;
	margin: 0;
	padding: 0;
}
